body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000000;
}

#root {
  width: 100%;
  height: 100%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  /* Keep dark theme even in light mode */
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
  }
  a:hover {
    color: #646cff;
  }
  button {
    background-color: #1a1a1a;
  }
}
